@model Web.Models.ResourceViewModel

@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddResource</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm("AddResource","Resource",FormMethod.Post, new { enctype="multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <aside class="right-side">
            <section class="content-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("listeResource")" style="color:forestgreen">Resource List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:forestgreen">Resource List Archived</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AddResource")" style="color:forestgreen">Add Resource</a>
                    </li>
                </ul>

            </section>

            <div class="mar-top20">
                <div class="row">
                    <div class="col-md-4 pd-col-4">
                        <h3>Add Resource</h3>
                        <form role="form">
                            <div class="form-group draggable">
                                <label for="input-text-1">First Name</label>
                                <input type="text" class="form-control" id="input-text-1" placeholder="fist Name" name="firstName">
                            </div>
                            <div class="form-group draggable">
                                <label for="input-text-1">Last Name</label>
                                <input type="text" class="form-control" id="input-text-2" placeholder="last Name" name="lastName">
                            </div>
                            <div class="form-group draggable">
                                <label for="input-text-1">Email</label>
                                <input type="email" class="form-control" id="input-text-3" placeholder="email@gmail.com" name="email">

                            </div>
                            <div class="form-group draggable">
                                <label for="input-password-1">Password</label>
                                <input type="password" class="form-control" id="input-password-4" placeholder="Password" name="password">
                            </div>
                            <div class="form-group draggable">
                                <label for="select-1">seniority</label>
                                <select id="select21" class="form-control select2" name="seniority" required>
                                    <option value="">Select value...</option>
                                    <option value="Senior">Senior</option>
                                    <option value="Junior">Junior</option>
                        
                                </select>

                            </div>

                            <div class="form-group draggable">
                                <label for="select-1">Work Profile</label>
                                <select id="select21" class="form-control select2" name="workProfil" required>
                                    <option value="">Select value...</option>
                                    <option value="Developper">Developper</option>
                                    <option value="Designer">Designer</option>
                                    <option value="Chef">Chef</option>
                                </select>

                            </div>
                            <div class="form-group draggable">
                                <label for="input-text-1">Salary</label>
                                <input type="text" class="form-control" id="input-text-5" placeholder="Salary" name="salary" required>
                            </div>
                            <div class="form-group draggable">
                                <label for="select-1">Job Type</label>
                                <select id="select21" class="form-control select2" name="jobType" required>
                                    <option value="">Select value...</option>
                                    <option value="Freelancer">Freelancer</option>
                                    <option value="LevioResource">Levio Resource</option>

                                </select>

                            </div>
                            <div class="form-group draggable">
                                <label for="input-text-1">My Cv</label>
                                <input type="text" class="form-control" id="input-text-2" placeholder="cv" name="cv" required>
                            </div>
                            <div class="form-group draggable">
                                <label for="input-text-1">Business Sector</label>
                                <input type="text" class="form-control" id="input-text-6" placeholder="Business Sector" name="businessSector" required>
                            </div>
                            <div class="form-group draggable">
                                <label for="input-file-1">My photo</label>
                                <input type="file" id="input-file-1" name="file" required>
                            </div>

                            <div class="form-group draggable pd-right">
                                <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
          
    <!-- content -->
        </aside>
    }

           
</body>
</html>
