@model Web.Models.ResourceViewModel

@{
    ViewBag.Title = "DetailResource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<aside class="right-side">
    <section class="content-header">
        <h1>Mandates</h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="livicon" data-name="home" data-size="16" data-color="#000"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">Mandates</a>
            </li>
            <li class="active">Handle Request</li>
        </ol>
    </section>




    <section class="content">
        <h2>DetailResource</h2>

        <div>
            <h4>ResourceViewModel</h4>
            <hr />
            <img src="@Url.Content(Model.picture)" alt="IMAGES" width="100" height="100" multiple />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.seniority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.seniority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.workProfil)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.workProfil)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.salary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.salary)
                </dd>

 

                <dt>
                    @Html.DisplayNameFor(model => model.moyenneSkill)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyenneSkill)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.jobType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.jobType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cv)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cv)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.businessSector)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.businessSector)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.availability)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.availability)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.firstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.firstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.archived)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.archived)
                </dd>

            </dl>
        </div>

    </section>
    <!-- content -->
</aside>