@model IEnumerable<Web.Models.ResourceViewModel>

@{
    ViewBag.Title = "listeResourceArchiver";
}
<aside class="right-side">
    <section class="content-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("listeResource")" style="color:forestgreen">Resource List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("listeResourceArchiver")" style="color:forestgreen">Resource List Archived</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AddResource")" style="color:forestgreen">Add Resource</a>
            </li>


        </ul>

    </section>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">
                            @item.lastName @item.lastName
                        </h3>

                    </div>
                    <div class="panel-body text-center">
                        <!--content starts-->
                        <div class="wrap">
                            <span id="animationSandbox4" style="display: block;" class="">

                                <img src="@Url.Content(@item.picture)" width="150" height="150" style="border-radius:50% ; margin-bottom:5px;" />
                            </span>
                        </div>
                        <div class="wrap">
                            <p>
                                @Html.ActionLink("View", "DetailResource", "Resource", new { id = @item.id }, null)
                                @Html.ActionLink("Unarchive", "Unarchiver", "Resource", new { id = @item.id }, null)
                     

                            </p>
                        </div>
                        <!--content ends-->
                    </div>
                </div>
            </div>
        }
    </div>

    </section>
    <!-- content -->
</aside>


