@model Web.Models.JobRequestModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success" >
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="livicon" data-name="share" data-size="16" data-loop="true" data-c="#fff" data-hc="white"></i>
            Please Send Your Request
        </h3>
       
    </div>
    <div class="panel-body">
      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })





            <div class="form-group">
                @Html.LabelFor(model => model.speciality, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.speciality, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.speciality, "", new { @class = "text-danger" })
                </div>
            </div>

           
            <button type="submit" class="btn btn-responsive btn-success">Submit You request</button>

            <button class="btn btn-responsive btn-warning">
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </button>
                


        </div>
      }

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


    </div>
</div>

