@using Web.Models
@{
    var s = (SrequestModelViews)ViewData["content"];
    ViewBag.Title = "Handle Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="right-side">
    <section class="content-header">
        <h1>Mandates</h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="livicon" data-name="home" data-size="16" data-color="#000"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">Mandates</a>
            </li>
            <li class="active">Validate My Request</li>
        </ol>
    </section>




    <section class="content">

        <div class="row">

            <div class="col-lg-offset-5">
                @if (s.traiter)
                {
                    <span class="button-wrap">
                        <a href="#" class="button button-pill button-success">Start Mandate</a>
                    </span>
                    <span class="button-wrap">
                        <a href="#" class="button button-pill button-danger">Refuse Condidate</a>
                    </span>
                }
                else
                {
                    <span class="button-wrap">
                        <button class="button button-pill button-primary" id="conf">Summon Resource</button>
                    </span>
                    <span class="button-wrap">
                        <a href="#" class="button button-pill button-danger">Refuse Condidate</a>
                    </span>
                }


            </div>
        </div>


        <div class="row">





            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="livicon" data-name="doc-portrait" data-c="#fff" data-hc="#fff" data-size="18" data-loop="true"></i> Request
                        </h3>
                    </div>
                    <div class="panel-body" style="display: block;">



                        <div class="row">
                            <div >

                                <form action="#" class="form-horizontal">
                                    <div class="form-body">

                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Deposit Date:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="user" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.depositDate</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Project Name:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="briefcase" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.project.projectName</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Requested Profil:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="address-book" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.requestedProfil</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Experience Year:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="timer" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.experienceYear Years</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Mandate Start Date:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="calendar" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.startDateMondate.ToString("d")</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group pad-top40">
                                            <label for="inputUsername" class="col-md-3 control-label">
                                                Mandate End Date:
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="livicon" data-name="calendar" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
                                                    </span>
                                                    <span class="form-control">@s.endDateMondate.ToString("d")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>


                        <form action="#" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group pad-top40">
                                    <center><h4 style="color :#418BCA">Skills Required</h4></center>

                                    @foreach (var t in s.project.projectSkills)
                                    {
                                        <div class="col-md-3  control-label">
                                            <center><span>@t.skill.NameSkill @t.percentage %</span></center>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@t.percentage" aria-valuemin="0" aria-valuemax="100" style="width:@t.percentage%">
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>





                            </div>
                        </form>



                    </div>
                </div>
            </div>



                </div>


        </div>

    </section>
    <!-- content -->
</aside>
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/")vendors/Sortable/js/Sortable.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/pages/you.js")"></script>

}